.SideMenu {
    --ty: 0%;
    display: none;
    position: fixed;
    z-index:11;
    font-weight: 600;
    color: rgb(255, 252, 252);
    background-color: rgba(14, 98, 14, 0.66);
    backdrop-filter: blur(10px);
    padding: 16px 5%;
    opacity: 0;
    transform: translateX(var(--ty)) translateY(-10px);
    transform-origin: top center;
    transition: opacity 0.25s ease-out, transform 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}

.SideMenu.visible{
    opacity: 1;
    transform: translateX(var(--ty)) translateY(0px);
}

.SideMenu .SideOptions {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 20px;
    flex-wrap: wrap;
}

.SideMenu .SideOptions a {
    all: unset;
    width: 100%;
    position: relative;
}

.SideMenu .SideOptions a::after{
    content: '';
    position: absolute;
    bottom: -4px;
    left: 50%;
    right: 50%;
    height: 1.52px;
    background-color: white;
    pointer-events: none;
    transition: left 0.3s ease-in-out, right 0.3s ease-in-out;
}

.SideMenu .SideOptions a:hover {
    cursor: pointer;
}

.SideMenu .SideOptions a:hover::after {
    left: 3.5%;
    right: 3.5%;
}


@media (min-width: 769px) and (min-height: 550px) {
    .SideMenu{
        height: calc(100vh - 48px);
        width: 255px;
        left: 0;
        margin-top: 47.4px;
        opacity: 1;
        box-shadow: 0px 8px 15px -0px rgba(64, 75, 64, 0.322);
        padding: 40px 30px 30px 18px;
        transform: translateX(-110%) translateY(0);
        transition: all 0.4s ease-in-out;
    }

    .SideMenu .SideOptions{
        flex-direction: column;
        align-items: baseline;
        gap: 9px;
    }

    .SideMenu .SideOptions a{
        display: inline-block;
        width: 190px;
        padding: 6px 10px 6px 10px;
        border-left: 3px solid transparent;
        transition: 0.38s;
        position: relative;
    }

    .SideMenu .SideOptions a:hover{
        background-color: #ffffff0b;
        border-left: 3px solid greenyellow;
        transform: translateX(6px);
    }

    .SideMenu.visible{
        opacity: 1;
        transform: translateX(var(--ty)) translateY(0px);
    }

    .SideMenu .SideOptions a::after{
        height: 0px;
    }
}

@media (min-width: 1800px) and (min-height: 550px){
    .SideMenu{
        height: calc(100vh - 52px);
        margin-top: 53.5px;
    }
    .SideMenu .SideOptions{
        gap: 14px;
    }
    .SideMenu .SideOptions a{
        font-size: 17px;
    }
}

@media (max-height: 550px) {
    .SideMenu{
        --ty:-50%;
        width: 95%;
        left: 50%;
        border-radius: 20px;
        margin-top: 60px;
        box-shadow: 2px 2px 15px rgba(64, 75, 64, 0.844);
        padding: 14px 16px 14px 16px;
    }
    .SideMenu .SideOptions{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }
}

@media (max-width: 768px) {
    .SideMenu {
        --ty:-50%;
        width: 95%;
        left: 50%;
        border-radius: 20px;
        margin-top: 68px;
        box-shadow: 2px 2px 15px rgba(64, 75, 64, 0.844);
        padding: 14px 10px 14px 14px;
    }

    .SideMenu .SideOptions{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        padding: 12px 10px 12px 10px;
        list-style:disc;
        list-style-position: inside;
    }
}

@media (max-width:612px) {
    .SideMenu .SideOptions{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 408px) {
    .SideMenu {
        font-size: 15px;
    }
}

@media (max-width: 381px) {
    .SideMenu {
        margin-top: 90px;
    }
}

@media (max-width:386px) {
    .SideMenu .SideOptions{
        grid-template-columns: repeat(1, 1fr);
    }
}