.diagnosisContainer {
  width: 45vw;
  min-height: 75vh;
  margin: 0 auto;
  margin-top: calc(50vh - 43.4vh);
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
  padding: 20px 15px;
  text-align: center;
  background-color: rgb(245, 255, 245);
  border-radius: 12px;
  position: relative;
  overflow-y: auto;

  h3 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 1.5rem;
    color: rgb(22, 152, 5);
  }

  form {
    input#file-upload-button {
      /* border-radius: 5px; */
    }
  }

  form,
  .finalUpload {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
  }

  .finalUpload img {
    display: block;
    margin-bottom: 15px;
    margin-top: 10px;
    border-radius: 8px;
    max-height: 400px;
    max-width: 90%;
    /* height: 185px; */
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
  }

  .uploadOptions .input{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    gap: 1.7vh;
  }

  .uploadOptions .input .inputOption{
    color: black;
  }

  .cam{
    border-radius: 7px;
  }

  input[type="file"] {
    display: none;
  }

  .predictions {
    h4{
      font-size: 20px;
    }
    margin-top: 20px;
    width: 100%;
    padding: 15px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    text-align: left;
    color: #333;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .diseaseInfoContainer {
    display: grid;
    grid-template-areas:
      "metaDname dname"
      "metaConf conf"
      "confidenceParent confidenceindicator";
    gap: 10px;
  }

  .metaDname,
  .metaConf {
    white-space: nowrap; /* Prevents wrapping for these elements */
  }
  .extraInfo{
    display: flex;
    flex-direction: column;
    gap:1em;
  }
  .modal{
    box-sizing: border-box;
    position: fixed;
    background-color: rgba(255, 255, 255, 0.824);
    backdrop-filter: blur(10px);
    box-shadow: 0px 0px 15px 1px rgba(64, 75, 64, 0.844);
    width: 50%;
    border-radius: 20px;
    min-height: 50%;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
  }

  .modal .close{
    position: absolute;
    top: 4%;
    right: 4%;
  }

  .extraInfo .notSat{
    border-top: 2px solid rgba(136, 135, 135, 0.756);
    margin-top: 5px;
    padding-top: 9px;
    font-size: 17px;
  }

  .diagnosisContainer .dname {
    word-break: break-word;
  }  

  .predictions {
    h4 {
      margin-bottom: 10px;
      color: rgb(22, 152, 5);
    }
  }
}

.PlateContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 120px;
  gap: 30px;
}

.treatmentBtn{
  background-color: orange;
  transition: background-color 1s ease-in-out;
  font-weight: bolder;
  padding: 12px;
  text-decoration: none;
  color: white;
  box-shadow: 1px 1px 5px 0.5px rgb(141, 141, 141);
  border-radius: 10px;
  cursor: pointer;
}

.uploadOptions{
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.uploadOptions button{
  width: 200px;
}

.treatmentBtn:hover{
  background-color: rgb(255, 68, 0);
  
}

.diseaseDetectedPlate{
  background-color: rgb(61, 214, 61);
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  padding: 10px;
  border-radius: 10px;
  outline: none;

}


.diagnosisContainer::-webkit-scrollbar {
  width: 8px;
}

.diagnosisContainer::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

.diagnosisContainer::-webkit-scrollbar-thumb {
  background: rgb(2, 185, 2);
  border-radius: 10px;
}

.diagnosisContainer::-webkit-scrollbar-thumb:hover {
  background: rgb(9, 128, 9);
}

@media (max-width: 1100px) {
  .diagnosisContainer {
    width: 70vw;
    margin-top: calc(50vh - 45vh);
  }
}
@media (max-width: 550px) {
  .diagnosisContainer {
    width: 90vw;
  }
}

@media (max-width: 470px) {
  .diagnosisContainer h3{
    font-size: 20px;
    margin-bottom: 15px;
  }
}