.profileSection {
  display: none;
  width: 180px;
  flex-direction: column;
  gap: 9px;
  background-color: rgb(82, 161, 84);
  border-radius: 10px;
  box-shadow: 0 4px 20px rgba(54, 54, 54, 0.19);
  position: absolute;
  right: calc(5vw + 32px + 22px + 19.25px - 95px);
  top: 56px;
  padding: 16px;
  z-index: 4;
  opacity: 0;
  transform: translateY(-10px);
  font-size: 14px;
  transition: opacity 0.25s ease-out,
    transform 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}

.profileSection.visible {
  opacity: 1;
  transform: translateY(0);
}

.profile-link {
  --border: 2.9px;
  box-sizing: border-box;
  padding: 6px 6px;
  border-radius: 0px 6px 6px 0px;
  text-decoration: none;
  color: black;
  text-align: center;
  border-left: var(--border) solid transparent;
  transition: all 0.2s ease;
}

.profile-link:hover {
  background-color: #ffffff0b;
  border-left: var(--border) solid greenyellow;
  transform: translateX(6px);
  cursor: pointer;
}

.signout:hover {
  border-left: var(--border) solid rgb(215, 14, 14);
  background-color: rgba(255, 0, 0, 0.198);
}

@media (min-width: 1500px) {
  .profileSection {
    right: calc(5vw + 32px + 19.25px + 22px - 95px);
  }
}

@media (min-width: 1800px) {
  .profileSection {
    right: calc(3.5vw + 32px + 22px + 19.25px - 95px);
    top: 65px;
  }
}

@media (max-width: 470px) {
  .profileSection {
    right: calc(5vw + 30px + 18px + 18.15px - 95px);
    top: 60px;
  }
}
@media (max-width: 382px) {
  .profileSection {
    right: calc(5vw + 27.5px + 18px + 16.775px - 95px);
    top: 83px;
  }
}
