footer {
    padding: 12px 40px;
    width: 100%;
    height: fit-content;
    background-color: #185d1a;
    font-size: 14px;
    color: white;
    z-index: 20;
  
    .contact span:nth-child(2) {
      user-select: text;
    }
  
    .mainFooter span:first-child {
      color: rgb(128, 190, 244);
    }
  
    .mainFooter span:nth-child(2) {
      color: rgb(164, 250, 5);
    }
  
    .copyright {
      color: rgb(251, 252, 251);
      margin-right: 20px;
    }
  
    .version {
      color: rgb(168, 182, 251);
    }
  
    .mainFooter {
      display: flex;
      justify-content: space-between;
    }
  }
  
  @media (max-width: 950px) {
    footer {
      font-size: 12px;
    }
    footer .copyright {
      margin-right: 0px;
    }
  }
  
  @media (max-width: 700px) {
    .mainFooter {
      display: flex;
      flex-direction: column;
      text-align: center;
      gap: 0.5em;
    }
  }
  